* {
    margin: 0;
    border: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

header {
    margin: 0;
}

main {
    margin: 0;
    background-color: #f2e9e4;
}

h2 {
    padding: 2rem;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-around;
    padding: 2rem;
}

.card {
    margin: 1rem;
}

footer {
    text-align: center;
    background-color: #22223b;
    color: #f2e9e4;
}

.contactbox {
    display: flex;
    justify-content: space-around;
    padding: 1.5rem;
}

.contacttitle {
    padding: 1rem;
}